In [56]:
import pandas as pd
import numpy as np
df = pd.read_excel('DATASET.xlsx')
df

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2,324.0,161.1,18.2,0.0,4,106,5950,1190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3,324.0,170.7,18.5,0.0,4,110,5950,1190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4,324.0,223.9,18.9,0.0,3,110,6150,1340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,5,324.0,228.2,18.4,0.0,2,113,6340,1450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,NaN,6,454.0,931.8,13.6,125.0,13,116,4150,830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,NaN,7,454.0,703.0,14.5,17.0,13,118,4150,830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,NaN,8,454.0,1124.1,14.9,45.0,18,117,4200,840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007,NaN,9,454.0,1462.3,13.2,62.0,27,117,4400,720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,NaN,10,454.0,986.3,14.3,67.0,24,122,4415,721,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df.head(30)

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2,324.0,161.1,18.2,0.0,4,106,5950,1190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3,324.0,170.7,18.5,0.0,4,110,5950,1190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4,324.0,223.9,18.9,0.0,3,110,6150,1340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,5,324.0,228.2,18.4,0.0,2,113,6340,1450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,6,324.0,225.0,17.2,0.0,4,114,6630,1500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,7,324.0,130.0,18.4,0.0,3,103,6700,1540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,8,324.0,100.6,19.0,0.0,2,114,6740,1590,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,9,324.0,176.5,19.0,0.0,3,108,7175,1787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,10,324.0,53.6,19.0,0.0,2,105,7567,1885,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Sec_2,1,327.7,336.6,21.3,0.0,4,106,5810,2030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,2,327.7,240.2,22.1,0.0,3,104,5900,2200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,3,327.7,155.3,22.4,0.0,3,104,6100,2500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,4,327.7,77.0,23.0,0.0,2,105,6140,2650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,5,327.7,146.3,22.5,0.0,2,108,6200,2800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,6,327.7,216.3,21.2,0.0,4,111,6500,2550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,7,327.7,77.1,22.4,0.0,4,106,19437,7674,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,8,327.7,90.3,22.8,0.0,2,105,22755,8472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,9,327.7,238.5,22.8,0.0,2,103,26640,9353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,10,327.7,62.0,22.7,0.0,2,102,30525,10234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Sec_3,1,487.7,222.4,21.3,0.0,3,107,1850,610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,2,487.7,224.9,21.2,0.0,3,109,1880,660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,3,487.7,226.6,21.1,0.0,3,108,1380,490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,4,487.7,424.4,21.2,0.0,2,105,1760,620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,5,487.7,257.1,21.2,0.0,4,111,1700,610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,6,487.7,256.0,21.8,0.0,3,109,1600,610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,7,487.7,226.7,22.1,0.0,3,108,1760,860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,8,487.7,82.7,22.6,0.0,2,106,1800,900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,9,487.7,135.4,22.2,0.0,2,109,1900,1130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,10,487.7,93.2,22.5,0.0,4,110,2140,1270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df_test = df.loc[df['year'] == 10]
df_test

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
9,NaN,10,324.0,53.6,19.0,0.0,2,105,7567,1885,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,10,327.7,62.0,22.7,0.0,2,102,30525,10234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,10,487.7,93.2,22.5,0.0,4,110,2140,1270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,10,543.6,93.2,22.5,0.0,4,110,2140,1270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,10,434.4,149.0,11.7,72.0,3,110,13142,6225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,NaN,10,514.0,1226.4,10.1,203.6,16,114,7672,303,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
978,NaN,10,901.0,1531.0,11.1,34.9,40,100,15150,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,NaN,10,1181.0,1364.9,9.2,274.3,24,112,12500,880,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,10,662.0,1110.7,12.8,33.2,27,117,3324,1356,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,NaN,10,454.0,986.3,14.3,67.0,24,122,4415,721,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df = df.drop(df[df['year'] == 10].index)

In [10]:
df.head(12)

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2,324.0,161.1,18.2,0.0,4,106,5950,1190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3,324.0,170.7,18.5,0.0,4,110,5950,1190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4,324.0,223.9,18.9,0.0,3,110,6150,1340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,5,324.0,228.2,18.4,0.0,2,113,6340,1450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,6,324.0,225.0,17.2,0.0,4,114,6630,1500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,7,324.0,130.0,18.4,0.0,3,103,6700,1540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,8,324.0,100.6,19.0,0.0,2,114,6740,1590,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,9,324.0,176.5,19.0,0.0,3,108,7175,1787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Sec_2,1,327.7,336.6,21.3,0.0,4,106,5810,2030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,2,327.7,240.2,22.1,0.0,3,104,5900,2200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,3,327.7,155.3,22.4,0.0,3,104,6100,2500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df = df.drop(['Unnamed: 0'], axis=1)
df_test = df_test.drop(['Unnamed: 0'], axis=1)

In [10]:
df_test

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
9,10,324.0,53.6,19.0,0.0,2,105,7567,1885,16.8,105.0,65.0,9,1.960
19,10,327.7,62.0,22.7,0.0,2,102,30525,10234,76.5,44.3,5.0,9,0.795
29,10,487.7,93.2,22.5,0.0,4,110,2140,1270,78.5,0.0,0.0,16,1.432
39,10,543.6,93.2,22.5,0.0,4,110,2140,1270,28.5,60.5,67.0,11,2.004
49,10,434.4,149.0,11.7,72.0,3,110,13142,6225,0.0,276.2,34.0,6,1.792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,10,514.0,1226.4,10.1,203.6,16,114,7672,303,219.7,206.2,10.0,8,1.607
978,10,901.0,1531.0,11.1,34.9,40,100,15150,1077,5.9,74.5,33.0,13,1.087
988,10,1181.0,1364.9,9.2,274.3,24,112,12500,880,131.4,72.4,18.0,12,0.996
998,10,662.0,1110.7,12.8,33.2,27,117,3324,1356,193.7,305.6,180.0,12,2.212
1008,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,39.8,7.0,18,1.889

In [13]:
!pip install pycaret

Requirement already satisfied: pycaret in c:\users\aganya bajaj\anaconda3\lib\site-packages (2.3.6)
Requirement already satisfied: Boruta in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (0.3)
Requirement already satisfied: plotly>=4.4.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (5.4.0)
Requirement already satisfied: wordcloud in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (1.8.1)
Requirement already satisfied: spacy<2.4.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (2.3.7)
Requirement already satisfied: kmodes>=0.10.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (0.11.1)
Requirement already satisfied: pandas in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (1.2.4)
Requirement already satisfied: imbalanced-learn==0.7.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (0.7.0)
Requirement already satisfied: pyLDAvis in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (3.2.2)
Requirement already satisfied: mlflow in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (1.23.1)
Requirement already satisfied: seaborn in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (0.11.1)
Requirement already satisfied: scipy<=1.5.4 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (1.5.4)
Requirement already satisfied: scikit-plot in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (0.3.7)
Requirement already satisfied: cufflinks>=0.17.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (0.17.3)
Requirement already satisfied: umap-learn in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (0.5.2)
Requirement already satisfied: pandas-profiling>=2.8.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (3.1.0)
Requirement already satisfied: gensim<4.0.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (3.8.3)
Requirement already satisfied: matplotlib in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (3.3.4)
Requirement already satisfied: nltk in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (3.6.1)
Requirement already satisfied: lightgbm>=2.3.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (3.3.2)
Requirement already satisfied: scikit-learn==0.23.2 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (0.23.2)
Requirement already satisfied: mlxtend>=0.17.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (0.19.0)
Requirement already satisfied: joblib in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (1.0.1)
Requirement already satisfied: ipywidgets in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (7.6.3)
Requirement already satisfied: pyyaml<6.0.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (5.4.1)
Requirement already satisfied: IPython in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (7.22.0)
Requirement already satisfied: yellowbrick>=1.0.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (1.3.post1)
Requirement already satisfied: pyod in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (0.9.7)
Requirement already satisfied: textblob in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pycaret) (0.17.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from imbalanced-learn==0.7.0->pycaret) (1.22.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from scikit-learn==0.23.2->pycaret) (2.1.0)
Requirement already satisfied: colorlover>=0.2.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: six>=1.9.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from cufflinks>=0.17.0->pycaret) (1.15.0)
Requirement already satisfied: setuptools>=34.4.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from cufflinks>=0.17.0->pycaret) (52.0.0.post20210125)
Requirement already satisfied: Cython==0.29.14 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from gensim<4.0.0->pycaret) (0.29.14)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from gensim<4.0.0->pycaret) (5.2.1)
Requirement already satisfied: backcall in c:\users\aganya bajaj\anaconda3\lib\site-packages (from IPython->pycaret) (0.2.0)
Requirement already satisfied: colorama in c:\users\aganya bajaj\anaconda3\lib\site-packages (from IPython->pycaret) (0.4.4)
Requirement already satisfied: decorator in c:\users\aganya bajaj\anaconda3\lib\site-packages (from IPython->pycaret) (5.0.6)
Requirement already satisfied: pygments in c:\users\aganya bajaj\anaconda3\lib\site-packages (from IPython->pycaret) (2.8.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from IPython->pycaret) (5.0.5)
Requirement already satisfied: pickleshare in c:\users\aganya bajaj\anaconda3\lib\site-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from IPython->pycaret) (0.17.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from IPython->pycaret) (3.0.17)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from ipywidgets->pycaret) (5.1.3)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from ipywidgets->pycaret) (5.3.4)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from ipywidgets->pycaret) (1.0.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from ipywidgets->pycaret) (3.5.1)
Requirement already satisfied: tornado>=4.2 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.1)
Requirement already satisfied: jupyter-client in c:\users\aganya bajaj\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.1.12)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from jedi>=0.16->IPython->pycaret) (0.7.0)

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\Aganya Bajaj\\anaconda3\\Lib\\site-packages\\~-mpy\\.libs\\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll'
Consider using the `--user` option or check the permissions.

Requirement already satisfied: wheel in c:\users\aganya bajaj\anaconda3\lib\site-packages (from lightgbm>=2.3.1->pycaret) (0.36.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from matplotlib->pycaret) (8.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from matplotlib->pycaret) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from matplotlib->pycaret) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from matplotlib->pycaret) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from matplotlib->pycaret) (2.8.1)
Requirement already satisfied: ipython-genutils in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: jupyter-core in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.7.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (3.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (0.17.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (20.3.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas->pycaret) (2021.1)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (1.9.0)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Requirement already satisfied: missingno>=0.4.2 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (0.5.0)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (0.7.4)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.0)
Requirement already satisfied: phik>=0.11.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (0.12.0)
Requirement already satisfied: requests>=2.24.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (2.25.1)
Requirement already satisfied: multimethod>=1.4 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (1.7)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (4.59.0)
Requirement already satisfied: markupsafe~=2.0.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (2.0.1)
Requirement already satisfied: networkx>=2.4 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (2.5)
Requirement already satisfied: imagehash in c:\users\aganya bajaj\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (4.2.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from plotly>=4.4.1->pycaret) (8.0.1)
Requirement already satisfied: wcwidth in c:\users\aganya bajaj\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython->pycaret) (0.2.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling>=2.8.0->pycaret) (3.7.4.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2020.12.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from spacy<2.4.0->pycaret) (0.9.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from spacy<2.4.0->pycaret) (3.0.6)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from spacy<2.4.0->pycaret) (0.7.5)
Requirement already satisfied: thinc<7.5.0,>=7.4.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from spacy<2.4.0->pycaret) (7.4.5)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from spacy<2.4.0->pycaret) (1.0.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from spacy<2.4.0->pycaret) (2.0.6)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from spacy<2.4.0->pycaret) (1.0.6)
Requirement already satisfied: notebook>=4.4.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (6.3.0)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: prometheus-client in c:\users\aganya bajaj\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.10.1)
Requirement already satisfied: terminado>=0.8.3 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.9.4)
Requirement already satisfied: argon2-cffi in c:\users\aganya bajaj\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (20.1.0)
Requirement already satisfied: pyzmq>=17 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (20.0.0)
Requirement already satisfied: nbconvert in c:\users\aganya bajaj\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (6.0.7)
Requirement already satisfied: pywin32>=1.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets->pycaret) (227)
Requirement already satisfied: pywinpty>=0.5 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.7)
Collecting numpy>=1.13.3
  Downloading numpy-1.19.5-cp38-cp38-win_amd64.whl (13.3 MB)
Requirement already satisfied: cffi>=1.0.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.14.5)
Requirement already satisfied: pycparser in c:\users\aganya bajaj\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (2.20)
Requirement already satisfied: PyWavelets in c:\users\aganya bajaj\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (1.1.1)
Requirement already satisfied: Flask in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (1.1.2)
Requirement already satisfied: querystring-parser in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (1.2.4)
Requirement already satisfied: cloudpickle in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (1.6.0)
Requirement already satisfied: waitress in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (2.0.0)
Requirement already satisfied: databricks-cli>=0.8.7 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (0.16.4)
Requirement already satisfied: entrypoints in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (0.3)
Requirement already satisfied: protobuf>=3.7.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (3.19.4)
Requirement already satisfied: alembic in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (1.7.6)
Requirement already satisfied: click>=7.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (7.1.2)
Requirement already satisfied: gitpython>=2.1.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (3.1.27)
Requirement already satisfied: prometheus-flask-exporter in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (0.18.7)
Requirement already satisfied: importlib-metadata!=4.7.0,>=3.7.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (4.11.3)
Requirement already satisfied: packaging in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (20.9)
Requirement already satisfied: docker>=4.0.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (5.0.3)
Requirement already satisfied: sqlalchemy in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (1.4.7)
Requirement already satisfied: sqlparse>=0.3.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from mlflow->pycaret) (0.4.2)
Requirement already satisfied: tabulate>=0.7.7 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.9)
Requirement already satisfied: websocket-client>=0.32.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from docker>=4.0.0->mlflow->pycaret) (1.2.3)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from gitpython>=2.1.0->mlflow->pycaret) (4.0.9)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython>=2.1.0->mlflow->pycaret) (5.0.0)
Requirement already satisfied: zipp>=0.5 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from importlib-metadata!=4.7.0,>=3.7.0->mlflow->pycaret) (3.4.1)
Requirement already satisfied: Mako in c:\users\aganya bajaj\anaconda3\lib\site-packages (from alembic->mlflow->pycaret) (1.1.6)
Requirement already satisfied: importlib-resources in c:\users\aganya bajaj\anaconda3\lib\site-packages (from alembic->mlflow->pycaret) (5.4.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from sqlalchemy->mlflow->pycaret) (1.0.0)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from Flask->mlflow->pycaret) (1.0.1)
Requirement already satisfied: testpath in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.4.3)
Requirement already satisfied: bleach in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (3.3.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.3)
Requirement already satisfied: defusedxml in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: async-generator in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.1)
Requirement already satisfied: webencodings in c:\users\aganya bajaj\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
Requirement already satisfied: regex in c:\users\aganya bajaj\anaconda3\lib\site-packages (from nltk->pycaret) (2021.4.4)
Requirement already satisfied: funcy in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pyLDAvis->pycaret) (1.17)
Requirement already satisfied: numexpr in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pyLDAvis->pycaret) (2.7.3)
Requirement already satisfied: future in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pyLDAvis->pycaret) (0.18.2)
Requirement already satisfied: numba>=0.35 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pyod->pycaret) (0.53.1)
Requirement already satisfied: statsmodels in c:\users\aganya bajaj\anaconda3\lib\site-packages (from pyod->pycaret) (0.12.2)
Requirement already satisfied: llvmlite<0.37,>=0.36.0rc1 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from numba>=0.35->pyod->pycaret) (0.36.0)
Requirement already satisfied: patsy>=0.5 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from statsmodels->pyod->pycaret) (0.5.1)
Requirement already satisfied: pynndescent>=0.5 in c:\users\aganya bajaj\anaconda3\lib\site-packages (from umap-learn->pycaret) (0.5.6)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.22.3
    Uninstalling numpy-1.22.3:
      Successfully uninstalled numpy-1.22.3

#Model for Para-9

In [14]:
train = df.iloc[:, :10]
train

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9
0,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0
1,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0
2,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0
3,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0
4,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0
...,...,...,...,...,...,...,...,...,...,...
1003,5,454.0,1126.6,14.4,28.8,16,116,3842,730,19.0
1004,6,454.0,931.8,13.6,125.0,13,116,4150,830,15.1
1005,7,454.0,703.0,14.5,17.0,13,118,4150,830,24.6
1006,8,454.0,1124.1,14.9,45.0,18,117,4200,840,119.0
1007,9,454.0,1462.3,13.2,62.0,27,117,4400,720,138.2

In [20]:
from pycaret.regression import *
s = setup(data=train, target='Para-9', train_size = 0.95, silent=True)
cm = compare_models()

In [21]:
newPredictions = predict_model(cm, data = df_test)
newPredictions

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Label
9,10,324.0,53.6,19.0,0.0,2,105,7567,1885,16.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.042789
19,10,327.7,62.0,22.7,0.0,2,102,30525,10234,76.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.286194
29,10,487.7,93.2,22.5,0.0,4,110,2140,1270,78.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.821878
39,10,543.6,93.2,22.5,0.0,4,110,2140,1270,28.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.785693
49,10,434.4,149.0,11.7,72.0,3,110,13142,6225,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-29.754617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,10,514.0,1226.4,10.1,203.6,16,114,7672,303,219.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.115732
978,10,901.0,1531.0,11.1,34.9,40,100,15150,1077,5.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-20.585684
988,10,1181.0,1364.9,9.2,274.3,24,112,12500,880,131.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.920238
998,10,662.0,1110.7,12.8,33.2,27,117,3324,1356,193.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.652052
1008,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.854751

#Model for para-10

In [22]:
train = df.iloc[:, [0,1,2,3,4,5,6,7,8,10]]
train

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-10
0,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0
1,2,324.0,161.1,18.2,0.0,4,106,5950,1190,3.4
2,3,324.0,170.7,18.5,0.0,4,110,5950,1190,21.3
3,4,324.0,223.9,18.9,0.0,3,110,6150,1340,21.3
4,5,324.0,228.2,18.4,0.0,2,113,6340,1450,23.9
...,...,...,...,...,...,...,...,...,...,...
1003,5,454.0,1126.6,14.4,28.8,16,116,3842,730,0.0
1004,6,454.0,931.8,13.6,125.0,13,116,4150,830,1.8
1005,7,454.0,703.0,14.5,17.0,13,118,4150,830,7.9
1006,8,454.0,1124.1,14.9,45.0,18,117,4200,840,15.7
1007,9,454.0,1462.3,13.2,62.0,27,117,4400,720,30.5

In [23]:
from pycaret.regression import *
s = setup(data=train, target='Para-10', train_size = 0.95, silent=True)

In [24]:
cm = compare_models()

In [25]:
newPredictions = predict_model(cm, data = df_test)
newPredictions

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Label
9,10,324.0,53.6,19.0,0.0,2,105,7567,1885,16.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.623532
19,10,327.7,62.0,22.7,0.0,2,102,30525,10234,76.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.074787
29,10,487.7,93.2,22.5,0.0,4,110,2140,1270,78.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-17.048230
39,10,543.6,93.2,22.5,0.0,4,110,2140,1270,28.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.890849
49,10,434.4,149.0,11.7,72.0,3,110,13142,6225,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.875899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,10,514.0,1226.4,10.1,203.6,16,114,7672,303,219.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.934567
978,10,901.0,1531.0,11.1,34.9,40,100,15150,1077,5.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.466387
988,10,1181.0,1364.9,9.2,274.3,24,112,12500,880,131.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.738032
998,10,662.0,1110.7,12.8,33.2,27,117,3324,1356,193.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.699808
1008,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.729440

# Model for para-11

In [44]:
train = df.iloc[:, [0,1,2,3,4,5,6,7,8,11]]
train

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-11
0,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0
1,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0
2,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0
3,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0
4,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0
...,...,...,...,...,...,...,...,...,...,...
1003,5,454.0,1126.6,14.4,28.8,16,116,3842,730,0.0
1004,6,454.0,931.8,13.6,125.0,13,116,4150,830,1.0
1005,7,454.0,703.0,14.5,17.0,13,118,4150,830,2.0
1006,8,454.0,1124.1,14.9,45.0,18,117,4200,840,2.0
1007,9,454.0,1462.3,13.2,62.0,27,117,4400,720,6.0

In [46]:
from pycaret.regression import *
s = setup(data=train, target='Para-11', train_size = 0.95, silent=True)

In [47]:
cm = compare_models()

In [34]:
newPredictions = predict_model(cm, data = df_test)
newPredictions

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Label
9,10,324.0,53.6,19.0,0.0,2,105,7567,1885,16.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.650464
19,10,327.7,62.0,22.7,0.0,2,102,30525,10234,76.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.745637
29,10,487.7,93.2,22.5,0.0,4,110,2140,1270,78.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.199029
39,10,543.6,93.2,22.5,0.0,4,110,2140,1270,28.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.885837
49,10,434.4,149.0,11.7,72.0,3,110,13142,6225,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.191529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,10,514.0,1226.4,10.1,203.6,16,114,7672,303,219.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.384612
978,10,901.0,1531.0,11.1,34.9,40,100,15150,1077,5.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.935767
988,10,1181.0,1364.9,9.2,274.3,24,112,12500,880,131.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.309312
998,10,662.0,1110.7,12.8,33.2,27,117,3324,1356,193.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.764983
1008,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.622105

# Model for para-12

In [48]:
train = df.iloc[:, [0,1,2,3,4,5,6,7,8,12]]
train

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-12
0,1,324.0,354.5,17.0,0.0,3,117,2600,400,0
1,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0
2,3,324.0,170.7,18.5,0.0,4,110,5950,1190,4
3,4,324.0,223.9,18.9,0.0,3,110,6150,1340,5
4,5,324.0,228.2,18.4,0.0,2,113,6340,1450,7
...,...,...,...,...,...,...,...,...,...,...
1003,5,454.0,1126.6,14.4,28.8,16,116,3842,730,15
1004,6,454.0,931.8,13.6,125.0,13,116,4150,830,15
1005,7,454.0,703.0,14.5,17.0,13,118,4150,830,15
1006,8,454.0,1124.1,14.9,45.0,18,117,4200,840,16
1007,9,454.0,1462.3,13.2,62.0,27,117,4400,720,18

In [49]:
from pycaret.regression import *
s = setup(data=train, target='Para-12', train_size = 0.95, silent=True)

In [50]:
cm = compare_models()

In [51]:
newPredictions = predict_model(cm, data = df_test)
newPredictions

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Label
9,10,324.0,53.6,19.0,0.0,2,105,7567,1885,16.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.024507
19,10,327.7,62.0,22.7,0.0,2,102,30525,10234,76.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.374718
29,10,487.7,93.2,22.5,0.0,4,110,2140,1270,78.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.831031
39,10,543.6,93.2,22.5,0.0,4,110,2140,1270,28.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.442556
49,10,434.4,149.0,11.7,72.0,3,110,13142,6225,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.570629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,10,514.0,1226.4,10.1,203.6,16,114,7672,303,219.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.745011
978,10,901.0,1531.0,11.1,34.9,40,100,15150,1077,5.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.138662
988,10,1181.0,1364.9,9.2,274.3,24,112,12500,880,131.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.737414
998,10,662.0,1110.7,12.8,33.2,27,117,3324,1356,193.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.688125
1008,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.582741

#Model for para-13

In [52]:
train = df.iloc[:, [0,1,2,3,4,5,6,7,8,13]]
train

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-13
0,1,324.0,354.5,17.0,0.0,3,117,2600,400,1.520
1,2,324.0,161.1,18.2,0.0,4,106,5950,1190,1.620
2,3,324.0,170.7,18.5,0.0,4,110,5950,1190,1.680
3,4,324.0,223.9,18.9,0.0,3,110,6150,1340,1.780
4,5,324.0,228.2,18.4,0.0,2,113,6340,1450,1.800
...,...,...,...,...,...,...,...,...,...,...
1003,5,454.0,1126.6,14.4,28.8,16,116,3842,730,1.654
1004,6,454.0,931.8,13.6,125.0,13,116,4150,830,1.681
1005,7,454.0,703.0,14.5,17.0,13,118,4150,830,1.838
1006,8,454.0,1124.1,14.9,45.0,18,117,4200,840,1.862
1007,9,454.0,1462.3,13.2,62.0,27,117,4400,720,1.883

In [53]:
from pycaret.regression import *
s = setup(data=train, target='Para-13', train_size = 0.95, silent=True)

In [54]:
cm = compare_models()

In [55]:
newPredictions = predict_model(cm, data = df_test)
newPredictions

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Label
9,10,324.0,53.6,19.0,0.0,2,105,7567,1885,16.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.472568
19,10,327.7,62.0,22.7,0.0,2,102,30525,10234,76.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.913174
29,10,487.7,93.2,22.5,0.0,4,110,2140,1270,78.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.255426
39,10,543.6,93.2,22.5,0.0,4,110,2140,1270,28.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.455384
49,10,434.4,149.0,11.7,72.0,3,110,13142,6225,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.299150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,10,514.0,1226.4,10.1,203.6,16,114,7672,303,219.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.708465
978,10,901.0,1531.0,11.1,34.9,40,100,15150,1077,5.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.875587
988,10,1181.0,1364.9,9.2,274.3,24,112,12500,880,131.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.246743
998,10,662.0,1110.7,12.8,33.2,27,117,3324,1356,193.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.462350
1008,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.490426